/*IMPORTS*/
/*MISCELANEOUS*/
/*VARIABLES*/
/*RESET*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* globals*/
html {
  font-size: 62.5%; }

ul {
  list-style-type: none; }

ol {
  list-style-type: none; }

a {
  text-decoration: none;
  color: black;
  display: inline-block; }

img {
  display: block; }

body {
  background-color: #BFECC7;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

h2 {
  font-size: 3em; }

body {
  background-image: linear-gradient(to right, #bfecc7, #bfecc7, #bfecc7, #bfecc7, #bfecc7, #c4eecb, #c8efcf, #cdf1d3, #d7f5dc, #e2f8e5, #ecfcee, #f6fff7); }

/* HELPERS */
.flex-column {
  display: flex;
  flex-direction: column; }

.container {
  max-width: 1080px;
  margin: 0 auto; }

/*PARTIALS*/
/* HEADER*/
header {
  background-color: linear-gradient(to right, #bfecc7, #bfecc7, #bfecc7, #bfecc7, #bfecc7, #c4eecb, #c8efcf, #cdf1d3, #d7f5dc, #e2f8e5, #ecfcee, #f6fff7);
  font-size: 1.3em; }
  header nav form input {
    max-width: 250px; }
  header a {
    text-align: center;
    padding: 0.9rem; }
  header picture img {
    border-radius: 50%;
    border-color: white;
    border-style: solid; }
  header .navbar {
    min-height: 10vh;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem; }
    header .navbar__logoEmpresa img {
      width: 100%;
      min-width: 160px;
      flex-basis: 30%;
      padding: 2rem;
      min-width: none; }
    header .navbar__hamburguesa {
      text-align: center; }
      header .navbar__hamburguesa #burgermenu {
        font-size: 1.3em; }
      header .navbar__hamburguesa input {
        display: none; }
      header .navbar__hamburguesa ul {
        display: none; }
        header .navbar__hamburguesa ul a {
          font-size: 1.3em;
          padding: 0.9rem; }
        header .navbar__hamburguesa ul li {
          display: block;
          background: #BFECC7;
          margin: 0 auto;
          padding: 0.9rem;
          list-style: none;
          border-bottom: 1px solid grey; }
      header .navbar__hamburguesa input:checked ~ ul {
        display: block; }
      header .navbar__hamburguesa label {
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid black;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none; }
    header .navbar__menu {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      gap: 1rem;
      flex-basis: 40%; }
      header .navbar__menu__item {
        background-color: none;
        transition: background-color .10s ease-in-out;
        height: 6rem; }
        header .navbar__menu__item:hover {
          background-color: white;
          transition: transform .2s ease-in-out;
          transform: scale(1.3); }
        header .navbar__menu__item__link {
          font-size: 1.1em;
          padding: 0.9rem; }

@media (max-width: 600px) {
  header .navbar__logoEmpresa {
    width: 50%;
    margin: 0 auto; }
  header .navbar__menu__item {
    display: none; }
  header form {
    display: none; } }

@media (min-width: 600px) {
  header .navbar__hamburguesa {
    display: none; } }

footer {
  min-height: 15vh; }
  footer .footer__redes-logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-right: 30px; }
  footer .footer__derechos {
    font-size: 1.1em;
    padding: 5rem; }

/*VIEWS*/
main {
  padding: 1rem;
  background-image: url("../assets/images/fondo.jpg"); }
  main h2 {
    text-align: center; }
  main .vendedora img {
    width: 100%;
    max-width: 700px;
    min-width: 210px;
    padding: 1rem;
    border-style: solid;
    border-color: white; }
  main .contenedor {
    font-size: 1.3em; }
    main .contenedor__principal {
      background-image: linear-gradient(to right, #bfecc7, #bfecc7, #bfecc7, #bfecc7, #bfecc7, #c4eecb, #c8efcf, #cdf1d3, #d7f5dc, #e2f8e5, #ecfcee, #f6fff7);
      font-size: 1.5em;
      border-radius: 10%;
      padding: 3rem;
      border-bottom: white;
      border-left: #BFECC7;
      border-right: #BFECC7;
      border-top: white;
      border-style: solid; }
    main .contenedor__clientes {
      background-image: linear-gradient(to right, #bfecc7, #bfecc7, #bfecc7, #bfecc7, #bfecc7, #c4eecb, #c8efcf, #cdf1d3, #d7f5dc, #e2f8e5, #ecfcee, #f6fff7);
      font-size: 1.5em;
      border-radius: 10%;
      padding: 3rem;
      border-bottom: white;
      border-left: #BFECC7;
      border-right: #BFECC7;
      border-top: white;
      border-style: solid;
      margin-top: 50px; }
      main .contenedor__clientes--titulo {
        margin: 2rem auto; }
    main .contenedor .clientes_enlaces {
      color: black;
      background-color: #BFECC7;
      transition: background-color .11s ease-in-out;
      border-radius: 10%;
      margin: 3rem auto; }
      main .contenedor .clientes_enlaces:hover {
        color: black;
        background-color: #ACECF7; }

@media (max-width: 576px) {
  main picture .vendedora {
    display: none; }
  main .contenedor {
    font-size: 1.1em; } }

.titulo_galeria {
  background-image: linear-gradient(to right, #bfecc7, #bfecc7, #bfecc7, #bfecc7, #bfecc7, #c4eecb, #c8efcf, #cdf1d3, #d7f5dc, #e2f8e5, #ecfcee, #f6fff7);
  max-width: 300px;
  padding: 2rem;
  margin: 2rem auto;
  font-size: 1.5em;
  font-style: italic; }

.contenedor__galeria {
  display: flex;
  flex-direction: row; }

.contenedor-gallery {
  text-align: center;
  background-image: linear-gradient(to right, #bfecc7, #bfecc7, #bfecc7, #bfecc7, #bfecc7, #c4eecb, #c8efcf, #cdf1d3, #d7f5dc, #e2f8e5, #ecfcee, #f6fff7);
  padding: 1rem;
  margin: 1rem 3px;
  font-size: 1.5em;
  border-radius: 50px; }

@media (max-width: 580px) {
  .contenedor__galeria {
    display: flex;
    flex-direction: column; }
  .contenedor-gallery {
    font-size: 1.1em; } }
