main {
    padding: map-get($paddings , medium );
    background-image: url("../assets/images/fondo.jpg");

    h2 {
        text-align: center;
    }

    
    .vendedora img {
        width: 100%;
        max-width: 700px;
        min-width: 210px;
        padding: map-get($paddings , medium );
        border-style: solid;
        border-color: $secondaryColor;
    }

    .contenedor {
        font-size: map-get($font-size, large );

        &__principal {
            background-image:$bg-gradient;
            font-size: map-get($font-size , xlarge);
            border-radius: 10%;
            padding: map-get($paddings , xxxlarge );

            border-bottom: $secondaryColor;
            border-left: $principalColor;
            border-right: $principalColor;
            border-top: $secondaryColor;
            border-style: solid;
        }

        &__clientes {

            background-image: $bg-gradient;
            font-size: map-get($font-size , xlarge);
            border-radius: 10%;
            padding: map-get($paddings , xxxlarge );
            border-bottom: $secondaryColor;
            border-left: $principalColor;
            border-right: $principalColor;
            border-top: $secondaryColor;
            border-style: solid;
            margin-top: 50px;

            &--titulo {

                margin: 2rem auto;

            }



        }

        & .clientes_enlaces {
            color: black;
            background-color: $principalColor;
            transition: background-color .11s ease-in-out;
            border-radius: 10%;
            margin: 3rem auto;

            &:hover {
                color: black;
                background-color: #ACECF7;
            }
        }

    }
}

@media (max-width: 576px) {
 


   main .contenedor{

    font-size: map-get($font-size, medium );

 }

}
