/*VARIABLES*/


$principalColor: #BFECC7;
$secondaryColor: white;
$text-lg: 1.5em;
$text-md: 1.4em;
$bg-gradient: linear-gradient(to right, #bfecc7, #bfecc7, #bfecc7, #bfecc7, #bfecc7, #c4eecb, #c8efcf, #cdf1d3, #d7f5dc, #e2f8e5, #ecfcee, #f6fff7);


